@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #d40000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
.animate-spin-slow {
  animation: spin-slow 4s ease-in-out infinite alternate;
}
.no-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(120,120,120,0.3);
  border-radius: 999px;
}

.no-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--foreground);
  font-family: var(--font-playfair), serif;
}

